
<table style="font-size: 12px;">
    <tr>
        <td style="font-weight: bold;
                   font-size: 14px;
                   padding-bottom: 4px;">
            FlexyBox ApS
        </td>
    </tr>
    <tr>
        <td>
            Østre Havnevej 31
        </td>
    </tr>
    <tr>
        <td>
            +45 12 34 56 78
        </td>
    </tr>
</table>