@inherits LayoutComponentBase

<div style="height: 100%;
            font-family: Arial, sans-serif;">

    @*Header*@
    <div style="padding: 24px 16px;
                background: #9ecf55;
                color: whitesmoke;">
        <FlexyBoxHeader />
    </div>

    <div style="padding: 16px 32px;
                background: #EFEFEF;">
        @Body
    </div>

    <div style="padding: 16px;
                background: #9ecf55;
                color: whitesmoke;">
        <ContactInformation />
    </div>
</div>