@using EmailGenerator.Components.Layouts
@layout DefaultLayout

<h1>Welcome to FlæskeBoks Fidnez</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis ex sapien, at tempor urna condimentum sit amet. Ut urna ex, auctor a magna quis, lacinia maximus erat. Sed id finibus lacus, elementum pretium mauris. Sed facilisis, ligula ut varius semper, arcu libero dapibus velit, non tristique metus mauris et nibh. Proin auctor imperdiet dui, at fermentum tortor pulvinar non. Proin congue at nunc non aliquam. Nunc sollicitudin venenatis blandit. Quisque lobortis justo dui, eu lacinia enim ullamcorper placerat. Vivamus blandit lectus id interdum rutrum. Integer sagittis hendrerit efficitur. Pellentesque malesuada, arcu sit amet iaculis efficitur, turpis nibh consectetur velit, eu dictum dui eros quis risus. Cras dictum in orci eu tristique. Aenean condimentum urna in blandit eleifend. Proin blandit id augue in molestie. Nulla facilisi. In blandit feugiat erat, eu posuere sapien porttitor nec.
</p>

<p>Time is: @Now.ToString("HH:mm:ss")</p>

<p>@A + @B is @C</p>

<p>From query param: @QueryParamString</p>

<p>Random word from injected API service: @RandomWord</p>